body {
    background-color: #222222;
    color: #ffffff;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
}
hr {
    opacity: 40%;
    border: 5px solid #000000;
}
a {
    color: white;
    text-decoration: underline;
}
a:hover {
    text-decoration: wavy underline;
}
#nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
}
#desc {
    text-align: center;
}
.note {
    font-size: 10px;
}